.color1-k {
    color: #EB5E36;
}
body{
    overflow:auto;
}


.arrow {
  text-align: center;
  margin: 2% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.new-search {
  background-color: #f3f3f3;
  padding: 0 20px;
  height: 42px !important;
  width: 75% !important;
  border: 1px solid transparent;
  color: #93a1a2;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  /* padding-right: 40px; */
}
.header-check-input {
  width: 13px !important;
  height: 13px !important;
  margin-right: 5px !important;
  margin-left: -1em !important;
}
.header-label-text {
  font-size: 12px;
}
.color-green {
  color: #379f75;
}
.what-app-kidiaree {
  font-size: 30px;
  margin-left: 5px;;
}
.word-wrap-p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.category-content {
  position: absolute;
  top: 10%;
  padding: 10px;
}
.image-cat {
  position:relative;
}
.text-cat {
  left: 0;
  position:absolute;
  text-align:center;
  top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%
}
.font-size-title-cat {
  font-size: 16px;
}